/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "./assets/css/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
/* Importamos bootstrap reboot*/
@import '~bootstrap/scss/reboot';
@import "~bootstrap/scss/grid"; // add the grid
@import "./assets/css/reset";
@import '~katex/dist/katex.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p{
  margin-top: 1%; 
  text-align: justify;  
 }
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:rgb(43, 9, 3); 
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:rgb(102, 244, 66);
    background-color:rgb(238, 22, 22) ;
  }
  
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:rgb(255, 37, 37,.26);
  }




.blocking-error {
    max-width: 100vw !important;
    .mat-dialog-container{
        width: 520px;
        height: 252px !important;
    }
}


